figure {
  overflow: hidden;
}

.image img {
  display: block;
  cursor: pointer;
}

.image #zoom-In img {
  transform: scale(1);
  transition: 1s ease-in-out;
  /* filter: grayscale(50%); */
}

.image #zoom-In:hover img {
  transform: scale(1.5);
  transition: 0.5s ease-in-out;
  filter: grayscale(0);
}

.btn-warning {
  background: rgb(239, 13, 121);
  background: linear-gradient(
    260deg,
    rgba(239, 13, 121, 1) 0%,
    rgba(174, 8, 140, 1) 71%
  );
  border: none;
}



